.buttons-container {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
}
.massage-imgs {
    border-radius: 15px;
}
.massage-imgs button {
    border-radius: 2px;
    margin-bottom: 0px;
}
.button-div {
    height: 100px;
    width: 100%;

}
.button-div img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: middle;
}
#pleasure {
    font-size: 3rem;
    margin-top: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
}