.cards-container{
    padding-top: 10px;
    width: 100%;
}

.full-body-card {
    display: flex;
    border-radius: 5px;
    border-width: 1px;
    border-color: gray;
    border: solid;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: red;
}

.massage-type-container {
    width: 300px;
    display: inline-block;
}

.length-selector-body-container {
    min-width: 150px;
    max-width: 600px;
    display: inline-block;
    margin-left: 100px;
}


