.cards-container{
    padding-top: 10px;
    width: 80%;
    border-radius: 5px;
    border-width: 1px;
    border-color: gray;
    border: solid;
    margin-left: 10%;
}

.full-body-card {
    display: flex;
    padding-left: 15px;
    width: 70%;
    margin-right: 1%;
    margin-left: 5%;
}

.massage-type-container {
    width: 300px;
    display: inline-block;
    flex: 5;
    padding-right: 30%;
}

.length-selector-body-container {
    display: inline-block;
    padding-right: 15px;
    flex: 1;
}

.contact-div {
    
}
