


*{
    --card-margin: 15px;
    --footer-height: 5rem;
    --yellow: #f4d04e;
    font-family: "Font", sans-serif;
}


body{
    background-color: var(--yellow);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;


}