:root {
    /* cOLOR */
    --color-primary: rgb(228, 59, 87);
    --color-secondary: ;
    --color-thirdary: rgb(6,84,101);
    --color-text: rgb(183, 183, 183);
    --color-text-secondary: rgb(228, 59, 87);
    --color-text-thirdary: rgb(4, 4, 10);
  
    /* font */
    --font-primary: "Cairo", Arial;
    --font-size-text: 13px;
    --font-size-title: 20px;
    --font-size-section-title: 48px;
}
img {
    pointer-events: none
}