:root {
    --main-color: #146c94;
    --secondary-color: #19a7ce;

    --font-size: 16px;
}
/*& COLORS*/
/*^ White */

/*^ main-teal */
/*^ secondary-blue */

/*^ black */


.Navbar{
    background-color: var(--main-color);
    font-size: var(--font-size)
}