@import "./constants.css";


body{
  background-color: var(--background-color);
  width: clamp(20px, 100%, 1280px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.nav{
  display: flex;
  position: relative;
  top: 0;
  left: 50px;
  right: 50px;
  height: 32px;
  padding: 24px 0px;
  width: calc(100% - 100px);

  align-items: center;


}
.nav > img{
  height: 100%;
}
.nav > .list{
  margin-left: auto;

}
.nav > .list > a{
  margin-left: 40px;
  text-decoration: none;
  color: var(--white);
  
}

.nav > .button{
  display: none;
  margin-left: auto;
  padding: 6px;
  cursor: pointer;
}
.button > .img{
  width: 26px;
}
.menu{
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 200px;
  right: 50px;
  transition: all 100ms;


  
  padding-inline: 30px;
  height: 250px;
  justify-content: space-around;
  border-radius: 10px;

  background-image: linear-gradient(144.39deg, #fff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.menu > a{
  text-decoration: none;
  color: var(--white);
  text-align: center;

}
@media screen and (max-width: 650px){
  .nav > .list{
    display: none;
  }
  .nav > .button{
    display: inline;
  }
}
#button:checked ~ .menu {
  opacity: 1;
  top: 70px;
}



/* !    HERO */

.hero{

  display: flex;


  /* background-color: rgba(255, 0, 0, 0.374); */
  height: 100vh;
  max-height: 700px;
}
.hero-text{
  /* display: flex; */
  /* flex-direction: column; */

  flex: 1.3;
  /* justify-content: center; */
  margin-top: 100px;
  margin-left: 50px;
}
.get-started{
  border: 1px #9febf0 solid;
  border-radius: 50%;
  background-color: rgb(0 4 15);

  /* display: inline-block; */
  position: relative;
  top: -300px;
  right: 50px;
  
  height: 140px;
  width: 140px;
  float: right;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.get-started p{
  font-size: 18px;
  height: min-content;
  display: inline-block;
  width: 70px;

  display: flex;
  /* justify-content:center; */
  align-items: center;
  height: 26px;
}
.get-started img{
  aspect-ratio: 1/1;
  height: 24px;
  margin-left: auto;
  margin-right: 6px;
}


.get-started2-container{
  display: flex;
  justify-content: center;
}
.get-started2{
  border: 1px #9febf0 solid;
  border-radius: 50%;
  background-color: rgb(0 4 15);


  
  height: 140px;
  width: 140px;
  float: right;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.get-started2 p{
  font-size: 18px;
  height: min-content;
  display: inline-block;
  width: 70px;

  display: flex;
  /* justify-content:center; */
  align-items: center;
  height: 26px;
}
.get-started2 img{
  aspect-ratio: 1/1;
  height: 24px;
  margin-left: auto;
  margin-right: 6px;
}






.hero-discount{
  display: inline;


}
.hero-discount-container{
  background-color: #1e1b29;
  display: flex;
  align-items: center;
  width: max-content;

  
  border-radius: 5px;
  padding: 5px 10px;
}
.hero-discount-img{
  
}
.hero-discount-img img{
  
}
.hero-discount p{
  color: var(--muted);
  margin-inline: 10px;
}
.hero-discount .white{
  color: white;
}
.hero-text h1{
  font-size: 72px;
  font-weight: 600;
  line-height: 90px;
}
.highlight{
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa .89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 600;
}
.hero-text-desc{
  max-width: 450px;
  line-height: 28px;
  color: var(--muted);
}

.hero-img{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}
.hero-img img{
  width: 100%;
}

.hero-stats{
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of child elements */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically in the row */
  gap: 30px;

  margin-bottom: 80px;
  margin-inline: 30px;

}
.hero-stats div{
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero-stats p{
  display: inline-block;
  font-size: 20px;

  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa .89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-stats strong{
  font-size: 40px;
  color: white;
  background: none;
}







@media screen and (max-width: 750px){
  .hero{
    margin-inline: 10px;

  }
}
@media screen and (max-width: 570px){
  .get-started{
    display: none;
  }
  .get-started2{
    display: flex;
  }

  .hero-stats{
    margin-top: 25px;
  }
}
@media screen and (max-width: 1050px){
  .hero{
    flex-direction: column;
    height: max-content;
    max-height: none;
  }
  .hero-text h1{
    max-width: 700px;
  }
}



