body{
    background-color: lightgray;
    height: 100vh;
}
.circle{
    background-color: white;

    border-radius: 1000px;
    width: 6px;
    height: 6px;

    position: absolute;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.circle1{

    top: 90%;
    left: 90%;
}
.circle2{

    top: 10%;
    left: 10%;
}
.circle3{


    top: 10%;
    left: 90%;
}
.circle4{


    top: 90%;
    left: 10%;
}
.box{
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;

    animation: rotate 1.3s linear 0s infinite;
}
@keyframes rotate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}