:root{
    --muted: #8e8880;
}

*{
    color: white;
    font-family: "DM Sans", sans-serif;
}

body{
    background-color: #f7e9dc;

    height: 100vh;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}
.app{
    display: flex;
    flex-direction: column;
    
    gap: 20px;

    width: 400px;
    height: 500px;
}
.app > div{
    border-radius: 20px;
}
.app--top{
    flex: 0.5;
    background-color: #ec755d;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.app--top-balance{
    display: flex;
    flex-direction: column;
    
}
.app--top-logo{

    
}
.app--bottom{
    flex: 4;
    background-color: #fffcf7;
    padding: 20px;
}
.app--bottom *{
    color: #3c261a;
}







.bars-container{
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: 100%;
    height: 50%;
    justify-content: space-between;
    

}
.bar-bar{
    display: flex;
    flex-direction: column-reverse;

    align-items: center;

}
.bar-bar span{
    text-align: center;
}
.bar{
    background-color: #ec755d;
    display: flex;
    width: 40px;
    border: none;
    border-radius: 8px;
    

}
.bar:hover{
    background-color: #ff9b87;
}
.afterEl{
    text-align: center;
    background-color: #3a2314;
    border-radius: 5px;
    color: white;
    position: relative;
    top: -10px;


    left: 0px;
    width: 60px;
    padding: 5px 10px;
    width: max-content;

    display: inline;
    opacity: 0;
    transition: opacity 100ms;

}
.bar.active{
    background-color: #76b5bc !important;
}
.bar.active:hover{
    background-color: #b4dfe5 !important;
}

.line{
    background-color: #efe4d5;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    width: 100%;
}





.app--bottom-bottom{
    display: flex;
    justify-content: space-between;
}
.bottom-bottom-first{

}
.bottom-bottom-first p{
    color: var(--muted);
}
.bottom-bottom-second{
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: right;
}
.bottom-bottom-second p{
    color: var(--muted);
}
.bottom-bottom-second span{
    font-weight: 700;
}