body{
    margin: 0;
}
canvas{
    position: absolute;
    background-image: linear-gradient(to right, red, blue);

}
.cover{
    background-color: lightgray;
    position: absolute;
    z-index: 100;
}
.cover1{
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
}
.cover2{
    top: 0;
    height: 20%;
    left: 0;
    right: 0;
}
.cover3{
    top: 0;
    bottom: 0;
    width: 20%;
    right: 0;
}
.cover4{
    bottom: 0;
    height: 20%;
    left: 0;
    right: 0;
}

#btn{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 50px;
    height: 30px;
    z-index: 101;

    background-color: steelblue;

    border: 1px solid black;

    cursor: pointer;
}
