:root{
    --light-blue: #8ecae6;
    --blue: #219ebc;
    --dark-blue: #023047;
    

    --dark-teal: #006d77;
    --teal: #83c5be;

    --white: #edf6f9;
    --black: #22223b;
    --dark-gray: #4a4e69;
    --gray: #9a8c98;
}