@Import "./MinecraftRegular-Bmg3.otf";

body{
    background-color: rgb(50, 50, 50);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
}
span{
    background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-256.png");
    width: 100px;
    aspect-ratio: 1/1;
    position: absolute;
    background-size: cover;
    pointer-events: none;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    animation: animate 10s linear;


}

@keyframes animate {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(1300deg);
    }
}

audio{
    z-index: -9;

}















.warning{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;

    z-index: 999;

    font-size: 120px;
    font-family: "Minecraft";
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    transition: all 500ms;

}
.warning p{
    background: linear-gradient(0deg, #40c9ff, #e81cff);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}