body{
    margin: 0px;
    background-color: black
}
.blob{
    background-image: linear-gradient(to right, #eb9047, rgb(57,165,192), rebeccapurple);
    background-size: 240px 240px;
    background-position: left;
    border-radius: 999px;
    width: 100px;
    height: 100px;
    position: fixed;
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
    animation: rotate 5s infinite;
    z-index: 1;
    
}
@keyframes rotate {
    0%{

        background-position: left;
    }
    50%{
        scale: 1 1.15;
        background-position: right;
    }
    100%{

        background-position: left;
    }
}
.background{
    width: 100%;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(50px);

    z-index: 2;
}